header {
    -webkit-transform-style: inherit;
    transform-style: inherit;
    color: #f8f8f8;
    background-color: #5b9c98;
    padding: 5vw;
}
header div {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

header a:link, header a:visited {
    color: #43ffa1;
    text-decoration: none;
}
header a:hover, header a:hover:visited  {
    text-decoration: underline;
}
#icons a:link, #icons a:visited {
    padding: 2px 6px 4px 6px;
    text-decoration: none;
}
#icons a:hover, #icons a:hover:visited  {
    background-color: #3b7c78;
    border-radius: 4px;
}
header h2 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 100;
    padding: 0;
    margin: 0
}
.highlight {
    color: #ddf
}
#heroContent {
    display: block;
    max-width: 900px;
    margin: auto 20px 0 20px;
    -webkit-animation-name: animateload;
    -webkit-animation-duration: 4s;
    animation-name: animateload;
    animation-duration: 4s
}
img {
    margin: auto 0 auto 40px;
    -webkit-animation-name: animateload, animatemove;
    -webkit-animation-duration: 2s;
    animation-name: animateload, animatemove;
    animation-duration: 2s;
    background-color: #4b8c88;
    border-radius: 112px;
}
p {
    text-align: justify;
}
.tags {
    text-align: left;
    opacity: 0.8;
    margin-top: 30px;
}
.tags::before {
    content: '#'
}
.flexrow {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
@-webkit-keyframes animatemove {
    from{ width:0;height:0; } 
    to{ width:224px;height:225px }
}
@keyframes animatemove { 
  from{ width:0;height:0; } 
  to{ width:224px;height:225px }
}