.App {
    text-align: center;
  }
  
  .box {
    width: 500px;
    height: 200px;
    background-color: #f8f8f8;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
  }